<h1>About Blog</h1>

import React from "react";

function About() {
  return (
    <div>
      <div>
        <h1>About</h1>
        <p>
          Welcome to MyBrainToYou! Find an article that catches your eye and spend some time
          exploring topics or create and share your own articles.
        </p>
      
      </div>
    </div>
  );
}

export default About;

<a href="http://localhost:3000/">Home</a>