<h1>Welcome to Blog</h1>
<%= link_to 'About', about_path %>
<div id="Class"><a href="http://localhost:3000/articles/new">Create New Article</a></div>
<div id="app"></div>

<h1>Listing all articles</h1>
<p>
<%= link_to "Create new article", new_article_path %>
<%= link_to "View all articles", articles_path %>
</p>
Login coming soon...