<nav class="navbar navbar-default">
  <div class="container-fluid">
 

    <ul class="nav navbar-nav navbar-right container-fluid">
    <% if logged_in? %>
        <li><%= button_to "Log out", logout_path, method: :delete, class: 'btn btn-primary btn-large' %></li>
        <li><%= link_to "Update account", edit_user_path(current_user) %></li>
    <% else %>
        <li><%= link_to "Sign in", login_path %></li>
    <% end %>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
